USE [master]
GO
/****** Object:  Database [TTDT]    Script Date: 05/11/2014 12:39:55 ******/
CREATE DATABASE [TTDT]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TTDT', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\TTDT.mdf' , SIZE = 7168KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'TTDT_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\TTDT_log.ldf' , SIZE = 9216KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TTDT].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TTDT]
GO
/****** Object:  Table [dbo].[Diem_ChiTiet]    Script Date: 05/11/2014 12:39:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Diem_ChiTiet](
	[MaSinhVien] [nvarchar](50) NOT NULL,
	[MaHocKy] [nvarchar](50) NOT NULL,
	[SoThuTu] [int] NOT NULL,
	[MaMonHoc] [nvarchar](50) NULL,
	[SoTinChi] [int] NULL,
	[PhanTramKiemTra] [int] NULL,
	[PhanTramThi] [int] NULL,
	[DiemKiemTra] [nvarchar](50) NULL,
	[DiemThiLanMot] [nvarchar](50) NULL,
	[DiemTongKetHeMuoi] [nvarchar](50) NULL,
	[DiemTongKetDiemChu] [nvarchar](50) NULL,
 CONSTRAINT [PK_HocKy] PRIMARY KEY CLUSTERED 
(
	[MaSinhVien] ASC,
	[MaHocKy] ASC,
	[SoThuTu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Diem_TongQuat]    Script Date: 05/11/2014 12:39:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Diem_TongQuat](
	[MaSinhVien] [nvarchar](50) NOT NULL,
	[MaHocKy] [nvarchar](50) NOT NULL,
	[DiemTrungBinhHocKyHeMuoi] [nvarchar](50) NULL,
	[DiemTrungBinhHocKyHeBon] [nvarchar](50) NULL,
	[DiemTrungBinhTichLuyHeMuoi] [nvarchar](50) NULL,
	[DiemTrungBinhTichLuyHeBon] [nvarchar](50) NULL,
	[SoTinChiDat] [nvarchar](50) NULL,
	[SoTinChiTichLuy] [nvarchar](50) NULL,
	[DiemTrungBinhRenLuyenHocKy] [nvarchar](50) NULL,
	[PhanLoaiDTBRenLuyenHocKy] [nvarchar](50) NULL,
 CONSTRAINT [PK_Diem_TongQuat] PRIMARY KEY CLUSTERED 
(
	[MaSinhVien] ASC,
	[MaHocKy] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[HocKy]    Script Date: 05/11/2014 12:39:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HocKy](
	[MaHocKy] [nvarchar](50) NOT NULL,
	[TenHocKy] [nvarchar](100) NULL,
 CONSTRAINT [PK_HocKy_1] PRIMARY KEY CLUSTERED 
(
	[MaHocKy] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LichThi]    Script Date: 05/11/2014 12:39:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LichThi](
	[MaSinhVien] [nvarchar](50) NOT NULL,
	[MaHocKy] [nvarchar](50) NOT NULL,
	[SoMonThi] [int] NULL,
	[SoThuTu] [int] NOT NULL,
	[MaMonHoc] [nvarchar](50) NULL,
	[GhepThi] [nvarchar](50) NULL,
	[ToThi] [nvarchar](50) NULL,
	[SoLuong] [int] NULL,
	[NgayThi] [nvarchar](50) NULL,
	[GioBatDau] [nvarchar](50) NULL,
	[SoPhut] [int] NULL,
	[Phong] [nvarchar](50) NULL,
	[HinhThucThi] [nvarchar](100) NULL,
 CONSTRAINT [PK_LichThi] PRIMARY KEY CLUSTERED 
(
	[MaSinhVien] ASC,
	[MaHocKy] ASC,
	[SoThuTu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[MonHoc]    Script Date: 05/11/2014 12:39:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MonHoc](
	[MaMonHoc] [nvarchar](50) NOT NULL,
	[TenMonHoc] [nvarchar](500) NULL,
 CONSTRAINT [PK_MonHoc_1] PRIMARY KEY CLUSTERED 
(
	[MaMonHoc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SXTKB_MonHoc]    Script Date: 05/11/2014 12:39:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SXTKB_MonHoc](
	[MaMonHoc] [nvarchar](50) NOT NULL,
	[TenMonHoc] [nvarchar](500) NULL,
 CONSTRAINT [PK_SXTKB_MonHoc] PRIMARY KEY CLUSTERED 
(
	[MaMonHoc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SXTKB_NhomMonHoc]    Script Date: 05/11/2014 12:39:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SXTKB_NhomMonHoc](
	[MaMonHoc] [nvarchar](50) NOT NULL,
	[Nhom] [nvarchar](50) NOT NULL,
	[Thu] [int] NOT NULL,
	[TietBatDau] [int] NOT NULL,
	[SoTiet] [int] NULL,
 CONSTRAINT [PK_MonHoc] PRIMARY KEY CLUSTERED 
(
	[MaMonHoc] ASC,
	[Nhom] ASC,
	[Thu] ASC,
	[TietBatDau] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ThoiKhoaBieu]    Script Date: 05/11/2014 12:39:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ThoiKhoaBieu](
	[MaSinhVien] [nvarchar](50) NOT NULL,
	[MaHocKy] [nvarchar](50) NOT NULL,
	[MaTuan] [nvarchar](50) NOT NULL,
	[MaMonHoc] [nvarchar](50) NOT NULL,
	[PhongHoc] [nvarchar](50) NULL,
	[Thu] [nvarchar](50) NOT NULL,
	[TietBatDau] [int] NOT NULL,
	[SoTiet] [int] NULL,
	[GiangVien] [nvarchar](100) NULL,
	[Lop] [nvarchar](50) NULL,
 CONSTRAINT [PK_ThoiKhoaBieu] PRIMARY KEY CLUSTERED 
(
	[MaSinhVien] ASC,
	[MaHocKy] ASC,
	[MaTuan] ASC,
	[MaMonHoc] ASC,
	[Thu] ASC,
	[TietBatDau] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ThongTin]    Script Date: 05/11/2014 12:39:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ThongTin](
	[MaSinhVien] [nvarchar](50) NOT NULL,
	[TenSinhVien] [nvarchar](100) NULL,
	[Lop] [nvarchar](50) NULL,
	[Nganh] [nvarchar](200) NULL,
	[Khoa] [nvarchar](200) NULL,
	[HeDaoTao] [nvarchar](200) NULL,
	[KhoaHoc] [nvarchar](50) NULL,
 CONSTRAINT [PK_TaiKhoan] PRIMARY KEY CLUSTERED 
(
	[MaSinhVien] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Tuan]    Script Date: 05/11/2014 12:39:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tuan](
	[MaTuan] [nvarchar](50) NOT NULL,
	[TenTuan] [nvarchar](100) NULL,
 CONSTRAINT [PK_Tuan] PRIMARY KEY CLUSTERED 
(
	[MaTuan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
INSERT [dbo].[Diem_ChiTiet] ([MaSinhVien], [MaHocKy], [SoThuTu], [MaMonHoc], [SoTinChi], [PhanTramKiemTra], [PhanTramThi], [DiemKiemTra], [DiemThiLanMot], [DiemTongKetHeMuoi], [DiemTongKetDiemChu]) VALUES (N'3110410126', N'20101', 1, N'841001', 2, 30, 70, N'7.0', N'4.0', N'4.9', N'D')
INSERT [dbo].[Diem_ChiTiet] ([MaSinhVien], [MaHocKy], [SoThuTu], [MaMonHoc], [SoTinChi], [PhanTramKiemTra], [PhanTramThi], [DiemKiemTra], [DiemThiLanMot], [DiemTongKetHeMuoi], [DiemTongKetDiemChu]) VALUES (N'3110410126', N'20101', 2, N'841004', 3, 50, 50, N'8.0', N'5.0', N'6.5', N'C')
INSERT [dbo].[Diem_ChiTiet] ([MaSinhVien], [MaHocKy], [SoThuTu], [MaMonHoc], [SoTinChi], [PhanTramKiemTra], [PhanTramThi], [DiemKiemTra], [DiemThiLanMot], [DiemTongKetHeMuoi], [DiemTongKetDiemChu]) VALUES (N'3110410126', N'20101', 3, N'841005', 3, 40, 60, N'8.0', N'6.0', N'6.8', N'C')
INSERT [dbo].[Diem_TongQuat] ([MaSinhVien], [MaHocKy], [DiemTrungBinhHocKyHeMuoi], [DiemTrungBinhHocKyHeBon], [DiemTrungBinhTichLuyHeMuoi], [DiemTrungBinhTichLuyHeBon], [SoTinChiDat], [SoTinChiTichLuy], [DiemTrungBinhRenLuyenHocKy], [PhanLoaiDTBRenLuyenHocKy]) VALUES (N'3110410126', N'20101', N'5.71', N'1.64', N'5.71', N'1.64', N'11', N'11', N'60', N'Trung bình khá')
INSERT [dbo].[Diem_TongQuat] ([MaSinhVien], [MaHocKy], [DiemTrungBinhHocKyHeMuoi], [DiemTrungBinhHocKyHeBon], [DiemTrungBinhTichLuyHeMuoi], [DiemTrungBinhTichLuyHeBon], [SoTinChiDat], [SoTinChiTichLuy], [DiemTrungBinhRenLuyenHocKy], [PhanLoaiDTBRenLuyenHocKy]) VALUES (N'3110410126', N'20102', N'6.06', N'2.00', N'5.93', N'1.87', N'22', N'33', N'57', N'Trung bình')
INSERT [dbo].[Diem_TongQuat] ([MaSinhVien], [MaHocKy], [DiemTrungBinhHocKyHeMuoi], [DiemTrungBinhHocKyHeBon], [DiemTrungBinhTichLuyHeMuoi], [DiemTrungBinhTichLuyHeBon], [SoTinChiDat], [SoTinChiTichLuy], [DiemTrungBinhRenLuyenHocKy], [PhanLoaiDTBRenLuyenHocKy]) VALUES (N'3110410126', N'20111', N'6.37', N'2.11', N'6.28', N'2.06', N'19', N'52', N'70', N'Khá')
INSERT [dbo].[HocKy] ([MaHocKy], [TenHocKy]) VALUES (N'20101', N'Học kỳ 1 - Năm học 2010-2011')
INSERT [dbo].[HocKy] ([MaHocKy], [TenHocKy]) VALUES (N'20102', N'Học kỳ 2 - Năm học 2010-2011')
INSERT [dbo].[HocKy] ([MaHocKy], [TenHocKy]) VALUES (N'20103', N'Học kỳ 3 - Năm học 2010-2011')
INSERT [dbo].[LichThi] ([MaSinhVien], [MaHocKy], [SoMonThi], [SoThuTu], [MaMonHoc], [GhepThi], [ToThi], [SoLuong], [NgayThi], [GioBatDau], [SoPhut], [Phong], [HinhThucThi]) VALUES (N'3110410001', N'20132', 5, 1, N'841061', N'01', N'001', 26, N'27/05/2014', N'12g00', 0, N'C.A211', N'')
INSERT [dbo].[LichThi] ([MaSinhVien], [MaHocKy], [SoMonThi], [SoThuTu], [MaMonHoc], [GhepThi], [ToThi], [SoLuong], [NgayThi], [GioBatDau], [SoPhut], [Phong], [HinhThucThi]) VALUES (N'3110410001', N'20132', 5, 2, N'841107', N'02', N'001', 28, N'29/05/2014', N'09g30', 0, N'C.D104', N'')
INSERT [dbo].[LichThi] ([MaSinhVien], [MaHocKy], [SoMonThi], [SoThuTu], [MaMonHoc], [GhepThi], [ToThi], [SoLuong], [NgayThi], [GioBatDau], [SoPhut], [Phong], [HinhThucThi]) VALUES (N'3110410001', N'20132', 5, 3, N'841120', N'02', N'001', 35, N'31/05/2014', N'07g00', 0, N'C.A501', N'')
GO
INSERT [dbo].[MonHoc] ([MaMonHoc], [TenMonHoc]) VALUES (N'0', N'Để lưu những tuần không có thời khóa biểu')
INSERT [dbo].[MonHoc] ([MaMonHoc], [TenMonHoc]) VALUES (N'841001', N'Giải tích 1')
INSERT [dbo].[MonHoc] ([MaMonHoc], [TenMonHoc]) VALUES (N'841002', N'Giải tích 2')
INSERT [dbo].[SXTKB_MonHoc] ([MaMonHoc], [TenMonHoc]) VALUES (N'841071', N'Dịch vụ web và ứng dụng')
INSERT [dbo].[SXTKB_MonHoc] ([MaMonHoc], [TenMonHoc]) VALUES (N'841072', N'Các công nghệ lập trình hiện đại')
INSERT [dbo].[SXTKB_MonHoc] ([MaMonHoc], [TenMonHoc]) VALUES (N'841073', N'Seminar chuyên đề')
INSERT [dbo].[SXTKB_NhomMonHoc] ([MaMonHoc], [Nhom], [Thu], [TietBatDau], [SoTiet]) VALUES (N'841071', N'01', 4, 8, 3)
INSERT [dbo].[SXTKB_NhomMonHoc] ([MaMonHoc], [Nhom], [Thu], [TietBatDau], [SoTiet]) VALUES (N'841071', N'01', 6, 6, 2)
INSERT [dbo].[SXTKB_NhomMonHoc] ([MaMonHoc], [Nhom], [Thu], [TietBatDau], [SoTiet]) VALUES (N'841071', N'02', 2, 1, 3)
INSERT [dbo].[ThoiKhoaBieu] ([MaSinhVien], [MaHocKy], [MaTuan], [MaMonHoc], [PhongHoc], [Thu], [TietBatDau], [SoTiet], [GiangVien], [Lop]) VALUES (N'3110410001', N'20133', N'2013347', N'0', NULL, N'0', 0, NULL, NULL, NULL)
INSERT [dbo].[ThoiKhoaBieu] ([MaSinhVien], [MaHocKy], [MaTuan], [MaMonHoc], [PhongHoc], [Thu], [TietBatDau], [SoTiet], [GiangVien], [Lop]) VALUES (N'3110410001', N'20133', N'2013348', N'862106', N'C.HTC', N'2', 1, 3, N'Nguyễn Việt Hùng', N'_DH001')
INSERT [dbo].[ThoiKhoaBieu] ([MaSinhVien], [MaHocKy], [MaTuan], [MaMonHoc], [PhongHoc], [Thu], [TietBatDau], [SoTiet], [GiangVien], [Lop]) VALUES (N'3110410001', N'20133', N'2013348', N'862106', N'C.HTC', N'3', 6, 3, N'Nguyễn Việt Hùng', N'_DH001')
GO
INSERT [dbo].[ThongTin] ([MaSinhVien], [TenSinhVien], [Lop], [Nganh], [Khoa], [HeDaoTao], [KhoaHoc]) VALUES (N'3110410001', N'Mai Phương Anh', N'DCT1102( )', N'Công nghệ thông tin', N'Công nghệ thông tin', N'Đại học chính quy (tín chỉ)', N'2010-2015')
INSERT [dbo].[ThongTin] ([MaSinhVien], [TenSinhVien], [Lop], [Nganh], [Khoa], [HeDaoTao], [KhoaHoc]) VALUES (N'3110410002', N'Nguyễn Duy Anh', N'DCT1103( )', N'Công nghệ thông tin', N'Công nghệ thông tin', N'Đại học chính quy (tín chỉ)', N'2010-2015')
INSERT [dbo].[ThongTin] ([MaSinhVien], [TenSinhVien], [Lop], [Nganh], [Khoa], [HeDaoTao], [KhoaHoc]) VALUES (N'3110410003', N'Nguyễn Tuấn Anh', N'DCT1104( )', N'Công nghệ thông tin', N'Công nghệ thông tin', N'Đại học chính quy (tín chỉ)', N'2010-2015')
GO
INSERT [dbo].[Tuan] ([MaTuan], [TenTuan]) VALUES (N'2013347', N'Tuần 47 [Từ 14/07/2014 -- Đến 20/07/2014]')
INSERT [dbo].[Tuan] ([MaTuan], [TenTuan]) VALUES (N'2013348', N'Tuần 48 [Từ 21/07/2014 -- Đến 27/07/2014]')
INSERT [dbo].[Tuan] ([MaTuan], [TenTuan]) VALUES (N'2013349', N'Tuần 49 [Từ 28/07/2014 -- Đến 03/08/2014]')
ALTER TABLE [dbo].[Diem_ChiTiet]  WITH CHECK ADD  CONSTRAINT [FK_Diem_ChiTiet_HocKy] FOREIGN KEY([MaHocKy])
REFERENCES [dbo].[HocKy] ([MaHocKy])
GO
ALTER TABLE [dbo].[Diem_ChiTiet] CHECK CONSTRAINT [FK_Diem_ChiTiet_HocKy]
GO
ALTER TABLE [dbo].[Diem_ChiTiet]  WITH CHECK ADD  CONSTRAINT [FK_Diem_ChiTiet_MonHoc] FOREIGN KEY([MaMonHoc])
REFERENCES [dbo].[MonHoc] ([MaMonHoc])
GO
ALTER TABLE [dbo].[Diem_ChiTiet] CHECK CONSTRAINT [FK_Diem_ChiTiet_MonHoc]
GO
ALTER TABLE [dbo].[Diem_ChiTiet]  WITH CHECK ADD  CONSTRAINT [FK_Diem_ChiTiet_TaiKhoan] FOREIGN KEY([MaSinhVien])
REFERENCES [dbo].[ThongTin] ([MaSinhVien])
GO
ALTER TABLE [dbo].[Diem_ChiTiet] CHECK CONSTRAINT [FK_Diem_ChiTiet_TaiKhoan]
GO
ALTER TABLE [dbo].[Diem_TongQuat]  WITH CHECK ADD  CONSTRAINT [FK_Diem_TongQuat_HocKy] FOREIGN KEY([MaHocKy])
REFERENCES [dbo].[HocKy] ([MaHocKy])
GO
ALTER TABLE [dbo].[Diem_TongQuat] CHECK CONSTRAINT [FK_Diem_TongQuat_HocKy]
GO
ALTER TABLE [dbo].[Diem_TongQuat]  WITH CHECK ADD  CONSTRAINT [FK_Diem_TongQuat_TaiKhoan] FOREIGN KEY([MaSinhVien])
REFERENCES [dbo].[ThongTin] ([MaSinhVien])
GO
ALTER TABLE [dbo].[Diem_TongQuat] CHECK CONSTRAINT [FK_Diem_TongQuat_TaiKhoan]
GO
ALTER TABLE [dbo].[LichThi]  WITH CHECK ADD  CONSTRAINT [FK_LichThi_HocKy] FOREIGN KEY([MaHocKy])
REFERENCES [dbo].[HocKy] ([MaHocKy])
GO
ALTER TABLE [dbo].[LichThi] CHECK CONSTRAINT [FK_LichThi_HocKy]
GO
ALTER TABLE [dbo].[LichThi]  WITH CHECK ADD  CONSTRAINT [FK_LichThi_MonHoc] FOREIGN KEY([MaMonHoc])
REFERENCES [dbo].[MonHoc] ([MaMonHoc])
GO
ALTER TABLE [dbo].[LichThi] CHECK CONSTRAINT [FK_LichThi_MonHoc]
GO
ALTER TABLE [dbo].[LichThi]  WITH CHECK ADD  CONSTRAINT [FK_LichThi_TaiKhoan] FOREIGN KEY([MaSinhVien])
REFERENCES [dbo].[ThongTin] ([MaSinhVien])
GO
ALTER TABLE [dbo].[LichThi] CHECK CONSTRAINT [FK_LichThi_TaiKhoan]
GO
ALTER TABLE [dbo].[SXTKB_NhomMonHoc]  WITH CHECK ADD  CONSTRAINT [FK_SXTKB_NhomMonHoc_SXTKB_MonHoc] FOREIGN KEY([MaMonHoc])
REFERENCES [dbo].[SXTKB_MonHoc] ([MaMonHoc])
GO
ALTER TABLE [dbo].[SXTKB_NhomMonHoc] CHECK CONSTRAINT [FK_SXTKB_NhomMonHoc_SXTKB_MonHoc]
GO
ALTER TABLE [dbo].[ThoiKhoaBieu]  WITH CHECK ADD  CONSTRAINT [FK_ThoiKhoaBieu_HocKy] FOREIGN KEY([MaHocKy])
REFERENCES [dbo].[HocKy] ([MaHocKy])
GO
ALTER TABLE [dbo].[ThoiKhoaBieu] CHECK CONSTRAINT [FK_ThoiKhoaBieu_HocKy]
GO
ALTER TABLE [dbo].[ThoiKhoaBieu]  WITH CHECK ADD  CONSTRAINT [FK_ThoiKhoaBieu_MonHoc] FOREIGN KEY([MaMonHoc])
REFERENCES [dbo].[MonHoc] ([MaMonHoc])
GO
ALTER TABLE [dbo].[ThoiKhoaBieu] CHECK CONSTRAINT [FK_ThoiKhoaBieu_MonHoc]
GO
ALTER TABLE [dbo].[ThoiKhoaBieu]  WITH CHECK ADD  CONSTRAINT [FK_ThoiKhoaBieu_TaiKhoan] FOREIGN KEY([MaSinhVien])
REFERENCES [dbo].[ThongTin] ([MaSinhVien])
GO
ALTER TABLE [dbo].[ThoiKhoaBieu] CHECK CONSTRAINT [FK_ThoiKhoaBieu_TaiKhoan]
GO
ALTER TABLE [dbo].[ThoiKhoaBieu]  WITH CHECK ADD  CONSTRAINT [FK_ThoiKhoaBieu_Tuan] FOREIGN KEY([MaTuan])
REFERENCES [dbo].[Tuan] ([MaTuan])
GO
ALTER TABLE [dbo].[ThoiKhoaBieu] CHECK CONSTRAINT [FK_ThoiKhoaBieu_Tuan]
GO
USE [master]
GO
